<!DOCTYPE html>
<html lang="zh-CN">
<!-- 
    作者： TaiYuan.Xu
    博客链接： https://mcok.top/
    版权声明： 本博客所有文章除特别声明外，均采用 BY-NC-SA 许可协议。转载请注明出处！
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情侣兑换券</title>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-tag+.el-tag {
            margin-left: 10px;
        }

        .button-new-tag {
            margin-left: 10px;
            height: 32px;
            line-height: 30px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .input-new-tag {
            width: 90px;
            margin-left: 10px;
            vertical-align: bottom;
        }

        .my-disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }

        .my-btn {
            width: 140px;
            margin-bottom: 15px;
            margin-left: 0 !important;
            margin-right: 15px;
        }

        .btn-checked {
            background-color: tomato;
            color: tomato;
        }

        .my-tag {
            width: 150px;
            margin-bottom: 15px;
            margin-left: 0 !important;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="2">
                <div class="grid-content bg-purple"></div>
            </el-col>
            <el-col :span="14">
                <el-button plain :title="ticket.description" :alt="ticket.description" :key="ticket.name"
                    v-for="ticket in ticketList" :class="['my-btn',{'my-disabled':ticket.disable}]" :type="ticket.color"
                    @click="handleDisable(ticket)">
                    {{ticket.name}}</el-button>
                <el-result :title="showStr.tips">
                    <template slot="icon">
                        <hr />
                        <el-tag :key="i" v-for="(res,i) in resultList" :type="res.color" class="my-tag">
                            {{res.name}}</el-tag>
                    </template>
                    <template slot="extra">
                        <el-button type="success" size="medium" @click="handleOnlyOne()">当前:{{showStr.only}}</el-button>
                        <el-button type="primary" size="medium" @click="handleStart()">{{showStr.visible}}</el-button>
                        <el-button type="error" size="medium" @click="exportJson()">导出结果</el-button>
                    </template>
                </el-result>
            </el-col>
        </el-row>

    </div>
</body>
<!-- vue.js & axios -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入element 的组件库-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ticketList: [], //奖券数据
            isOnlyOne: true, //结果不重复
            resultList: [], //最终结果
            showStr: {
                visible: "开始", //展示
                only: "不可重复",
                tips: "点击下方按钮开始抽卡",
            },
            ticket: {}, //对象
            timer: null, //定时器
            levelList: {},
            rate: [10, 20, 30, 40] //对应的SSR,SR,R,N的爆率，加起来要等于100
        },
        methods: {
            //初始化数据方法
            async init() {
                const {
                    data
                } = await axios.get('./ticketList.json')
                this.ticketList = data
            },
            handleDisable(ticket) {
                this.$set(ticket, 'disable', !ticket.disable)
            },
            handleStart() {
                let count = this.updateNewList();
                if (this.showStr.visible == "开始") {
                    if (count === 0) {
                        this.$message.error('别点了别点了，奖池空啦！');
                    } else {
                        this.showStr.visible = "停止"
                        this.show()
                    }
                } else {
                    clearInterval(this.timer);
                    this.timer = null
                    this.lucky()
                    if (this.resultList.length > 0) {
                        this.showStr.tips = "恭喜您，获得了:[" + this.ticket.name + "]*1"
                        this.showStr.visible = "开始"
                    }
                }

            },
            lucky() {
                let level = Math.round(Math.random() * 100);
                let ssr = this.rate[0],
                    sr = (this.rate[0] + this.rate[1]),
                    r = (this.rate[0] + this.rate[1] + this.rate[2]),
                    n = (this.rate[0] + this.rate[1] + this.rate[2] + this.rate[3]);
                if (level >= 0 && level <= ssr) {
                    this.ticket = this.levelList.ssr[Math.floor(Math.random() * this.levelList.ssr.length)]
                } else if (level > ssr && level <= sr) {
                    this.ticket = this.levelList.sr[Math.floor(Math.random() * this.levelList.sr.length)]
                } else if (level > sr && level <= r) {
                    this.ticket = this.levelList.r[Math.floor(Math.random() * this.levelList.r.length)]
                } else if (level > r && level <= n) {
                    this.ticket = this.levelList.n[Math.floor(Math.random() * this.levelList.n.length)]
                }
                if (!this.ticket) {
                    this.lucky()
                } else {
                    if (this.isOnlyOne) {
                        //only
                        if (this.ticket.disable) {
                            this.lucky()
                        } else {
                            this.resultList.push(this.ticket)
                            this.ticket.disable = true
                        }
                    } else {
                        this.resultList.push(this.ticket)
                    }
                }
            },
            show() {
                this.timer = setInterval(() => {
                    this.showStr.tips = this.ticketList[Math.floor(Math.random() * this.ticketList
                        .length)].name
                }, 50)
            },
            updateNewList() {
                let count = 0
                this.levelList = {
                    ssr: [],
                    sr: [],
                    r: [],
                    n: []
                }
                for (ticket of this.ticketList) {
                    if (this.isOnlyOne) {
                        if (!ticket.disable) {
                            count++
                            switch (ticket.level) {
                                case 'N':
                                    this.levelList.n.push(ticket)
                                    break;
                                case 'R':
                                    this.levelList.r.push(ticket)
                                    break;
                                case 'SR':
                                    this.levelList.sr.push(ticket)
                                    break;
                                case 'SSR':
                                    this.levelList.ssr.push(ticket)
                                    break;
                            }
                        }
                    } else {
                        count++
                        switch (ticket.level) {
                            case 'N':
                                this.levelList.n.push(ticket)
                                break;
                            case 'R':
                                this.levelList.r.push(ticket)
                                break;
                            case 'SR':
                                this.levelList.sr.push(ticket)
                                break;
                            case 'SSR':
                                this.levelList.ssr.push(ticket)
                                break;
                        }
                    }

                }
                return count
            },
            handleOnlyOne() {
                if (this.showStr.only === "不可重复") {
                    this.showStr.only = "可重复"
                    this.isOnlyOne = false
                } else {
                    this.showStr.only = "不可重复"
                    this.isOnlyOne = true
                }
            },
            exportJson() {
                if (this.resultList.length === 0) {
                    this.$message.error('结果为空！');
                } else {
                    let jsonStr = JSON.stringify(this.resultList); //  把 JSON 对象转换为字符串
                    var blob = new Blob([jsonStr]); //  创建 blob 对象
                    var link = document.createElement("a"); //  选择链接
                    link.href = URL.createObjectURL(blob); //  创建一个 URL 对象并传给 a 的 href
                    link.download = `data.json`; //  设置下载的默认文件名
                    link.click(); //  点击下载链接
                }
            }
        },
        created() {
            this.init();
            this.$notify({
                title: '爆率展示',
                message: `SSR:[${this.rate[0]}%] SR:[${this.rate[1]}%] R:[${this.rate[2]}%] N:[${this.rate[3]}%]`,
                type: 'success'
            });
        },
    })
</script>

</html>